body {
  margin: 0;
  font-family:
    -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu",
    "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;

  color: #111; /* default for light mode */
}

.title,
h2 {
  text-align: center;
}

form {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
  margin-top: 2rem;
}
input {
  padding: 0.5rem;
  width: 200px;
  color: #000;
  border: 1px solid #ccc;
  border-radius: 4px;
}
form button {
  padding: 0.5rem 1rem;
  background-color: #007bff;
  color: white;
  border: none;
  cursor: pointer;
}
form button:hover {
  background-color: #0056b3;
}

.account {
  text-align: center;
  font-size: 14px;
}
.account a,
.pls a {
  color: #007bff;
  text-decoration: none;
}
.account a:hover,
.pls a:hover {
  text-decoration: underline;
}
.light .pls {
  color: #111;
}
.light form p {
  color: #000;
}
.dark form p {
  color: #fff;
}
button:active {
  background-color: #0056b3;
  scale: 0.98;
}
@media (max-width: 600px) {
  form {
    width: 100%;
    padding: 0 1rem;
  }
  input {
    width: 100%;
  }
}
button:hover {
  scale: 1.05;
  transition: scale 0.2s ease-in-out;
  font-weight: 500;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}
.delete {
  background-color: red;
  color: white;
  margin-top: 20px;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  line-height: 1.5;
  border-color: transparent;
}
.light .verify {
  color: #111;
}
.light .forgot-password {
  background-color: rgb(73, 71, 71);
}
.light .close .fa-xmark {
  color: #fff;
}
.light .check-email {
  color: #eeebeb;
}
.dark .check-email {
  color: #1b1a1a;
}
.light .profile {
  color: #111;
}
.profileMain {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: calc(100vh - 120px);
}

/* الصندوق نفسه */
.profileBox {
  display: flex;
  flex-direction: column;
  gap: 10px;

  padding: 20px;
  border-radius: 10px;

  background-color: #fff;
  color: #111; /* 🔥 مهم جدًا */
}

/* LIGHT MODE */
.light .profileBox {
  background-color: #ffffff;
  color: #111;
}

/* DARK MODE */
.dark .profileBox {
  background-color: #1f1f1f;
  color: #fff;
}

/* عشان كل h6 ياخد نفس اللون */
.profileBox h6 {
  margin: 0;
  font-weight: 400;
}
